<launch>
     <arg name="use_sim_time" default="true" />
     <arg name="show_gazebo" default="false" />
     <arg name="headless" default="false" />

     <!-- World to simulate. Default is "highbay_swarm". "anchor_plant" is the other option. -->
     <arg name="world" default="highbay_swarm" /> 
     <arg name="world_name" default="$(find lab_gazebo)/worlds/$(arg world).world" />

     <!-- Launch Gazebo with the specified world. -->
     <include file="$(find gazebo_ros)/launch/empty_world.launch">
     <arg name="debug" value="0" />
     <arg name="use_sim_time" value="$(arg use_sim_time)" />
     <arg name="gui" value="$(arg show_gazebo)" />
     <arg name="headless" value="$(arg headless)" />
     <arg name="world_name" value="$(arg world_name)" />
     </include>

     <!-- Launch the RVizMeshVisualizer -->
    <node name="RVizMeshVisualizer" pkg="object_visualizer" type="object_visualizer.py">
     <!-- output="screen"> -->
        <rosparam param="frame" subst_value="True">map</rosparam>
        <rosparam param="visualizer_path" subst_value="True">$(find lab_gazebo)/worlds/$(arg world)_world/meshes</rosparam>
    </node>
</launch>