*workspace
*.smt
*.pyc
*cache

constraint_utils_recycling.py
build/
devel/
saves/

# Scheduler save directories.
Plans/
Images/
Constraints/
Videos/

# Metric 
Metric/README.md
*/src/CMakeLists.txt

# Common testing dirs & files. I tend to create these across packages.
Scratch/
scratch*
tester*

# Extraneous files.
dingo_namespace.svg
rosgraph.png
dd.png
sched_times.txt

# Sandbox directories.
backup_ros_d/
dingo/
dingo_ws/

# External packages.
src/dingo_*
src/lab_gazebo
src/object_visualizer
src/swarm2_launch
src/swarm*
src/vel_controller
src/topic_tf_transformers
src/uwb_*

RVizMeshVisualizer
AssistiveRobot-SimulationFiles
uwb_gazebo_plugin
Swarm-Robotics-2