<?xml version="1.0"?>
<launch>
    <arg name="in_dev_mode" default="False"/>
    <group ns='main'>
        <include file="$(find arm_utils)/launch/high_level.launch"/>
        <include file="$(find arm_gui)/launch/supervisor_gui.launch">
            <arg name="in_dev_mode" value="$(arg in_dev_mode)" />
        </include>
        <node name="add_tickets" pkg="ticket_manager" type="add_tickets.py" output="screen">
            <remap from="add_ticket" to="/main/add_ticket" />
        </node>
    </group>
</launch>