<?xml version="1.0"?>
<launch>
    <include file="$(find swarm2_launch)/launch/sim_highbay.launch"/>
    <include file="$(find swarm2_launch)/launch/sim_dingos.launch"/>
    <!-- <include file="$(find swarm2_launch)/launch/sim_ui_desktop.launch"/> -->
    <include file="$(find arm_utils)/launch/sim_ui_desktop.launch"/>
    <include file="$(find swarm2_launch)/launch/main_swarm_control.launch"/>
</launch>