<?xml version="1.0"?>
<launch>
<!-- <group ns="ui"> -->
    <!-- <machine name="tablet" address="192.168.1.99" env-loader="/home/tablet/catkin_ws/scripts/env_tablet.sh" user="tablet" password="1234" default="true"/> -->

    <!-- Launch Mesh Visualizer for Static Environment World -->
    <node name="RVizMeshVisualizer" pkg="object_visualizer" type="object_visualizer.py" output="screen">
        <rosparam param="frame" subst_value="True">map</rosparam>
        <rosparam param="visualizer_path" subst_value="True">$(find lab_gazebo)/worlds/highbay_swarm_world/meshes</rosparam>
    </node>

    <!-- TWIST MUX FOR E-STOP -->
    <node pkg="twist_mux" type="twist_mux" name="twist_mux" output="screen">
        <rosparam command="load" file="$(find swarm2_launch)/config/ui_tablet_twist_mux_disabled.yaml" />
        <remap from="cmd_vel_out" to="deadman_switch_spacenav_twist"/>
    </node>
<!-- </group> -->
</launch>