<?xml version="1.0"?>
<launch>
    <node name="uwb_right" pkg="uwb_reader" type="uwb_reader.py">
        <!-- <rosparam file="$(find uwb_reader)/config/uwb_1.yaml"/> -->
        <rosparam file="$(find swarm2_launch)/config/d1_uwb_1.yaml"/>
    </node>
    <node name="uwb_left" pkg="uwb_reader" type="uwb_reader.py">
        <!-- <rosparam file="$(find uwb_reader)/config/uwb_2.yaml"/> -->
        <rosparam file="$(find swarm2_launch)/config/d1_uwb_2.yaml"/>
    </node>
</launch>